# Django backend
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SECRET_KEY=change-me
DJANGO_CORS_ORIGIN_WHITELIST=localhost:8282,127.0.0.1:8282

# Django superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=replace-with-your-admin-password

# PostgreSQL database
POSTGRES_DB=conduit
POSTGRES_USER=conduit_user
POSTGRES_PASSWORD=replace-with-your-admin-password
POSTGRES_HOST=database
POSTGRES_PORT=5432

# Backend service
BACKEND_PORT=8000

# Frontend service
FRONTEND_PORT=8282